.small-text{
    font-size: smaller;
    color: gray;
}

.text-in-middle{
    vertical-align: baseline;
}

.big-text{
    font-size: x-large;
    font-weight: bold;
}

#button-nav{
    background-color:rgb(241, 241, 241);
    margin-top: 30px;
    gap: 10px;
}

.memorial-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.memorial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
